{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="UTF-8">
    <title>{{ web_title }}</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/style.css' %}"/>
    <link rel="stylesheet" type="text/css" href="{%static 'css/font-awesome.min.css' %}"/>
    <style>
      .link {
        color: {{ linkcolor }};
        font-family: {{ linkfont }};
        background-color: {{ linkbc }};
      }
      .link:hover {
          background-color: rgba(255, 255, 255, 0.3);
          color: {{ link_hover_color }};
          border: none;
      }
    </style>
</head>

<body style="background: url('{{ background_pic.url }}'); background-size: cover; background-position: center; background-attachment: fixed;">
    <div id="profile">
        <img id="userPhoto" src="{{ profile_pic.url }}" alt="{{ profile_pic_title }}">
    </div>
    <div id="links">
        <a class="link" href="{{ link1 }}" target="_blank"><i class="fa fa-instagram"></i> Instagram</a>

        <a class="link" href="{{ link2 }}" target="_blank"><i class="fa fa-facebook"
                aria-hidden="true"></i> Facebook</a>

        <a class="link" href="{{ link3 }}" target="_blank"><i class="fa fa-star-o"
                aria-hidden="true"></i>
            Visit My Website</a>

        <a class="link" href="{{ link4 }}" target="_blank"><i class="fa fa-envelope"
                aria-hidden="true"></i>
                Contact Me </a>

        <a class="link" href="{{ link5 }}" target="_blank"><i
                class="fa fa-address-card-o " aria-hidden="true"></i>
            Book An Appointment</a>

        <a class="link"  href="{{ link6 }}" target="_blank"><i
                      class="fa fa-shopping-bag" aria-hidden="true"></i>
                Purchase Products</a>

        <a class="link" href="{{ link7 }}" target="_blank"><i class="fa fa-building" aria-hidden="true"></i>
            Le Blanc Salon & Suites</a>

    </div>
    <footer style="color:{{ linkcolor }}">
            <p><b>Design by &copy; cms-WebDesign</b></p>
      </footer>

</body>

</html>
